<h4>Dashboard</h4>

<br>

<div class="row">
  <div class="col s12 m6">
    <div class="card white darken-1">
      <div class="card-panel white">
        <span class="card-title">Médicos</span>
        <div class="input-field">
          <%= select_tag :select_doctor, options_for_select(select_doctor), {include_blank: "Todos os médicos"} %>
        </div>
        <br>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header teal-text">
              <i class="material-icons">query_stats</i>
              Consultas realizadas
              <span class="badge" id="appointments_realized"></span>
            </div>
          </li>
          <li>
            <div class="collapsible-header teal-text">
              <i class="material-icons">people</i>
              Pacientes atendidos
              <span class="badge" id="patients_attended"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  (function(){
    let select_doctor = document.getElementById('select_doctor')
    select_doctor.addEventListener('change', (e) => {
      let params = `?doctor_id=${e.target.value}`
      getJSON(`/get_appointments_realized_by_doctor${params}`,
      function(err, data) {
        if (err !== null) {
          alert('Algo deu errado: ' + err)
        } else {
          document.getElementById('appointments_realized').innerHTML = data.length
        }
      })
      getJSON(`/get_patients_attended_count_by_doctor${params}`,
      function(err, data) {
        if (err !== null) {
          alert('Algo deu errado: ' + err)
        } else {
          document.getElementById('patients_attended').innerHTML = data
        }
      })

      M.FormSelect.init(select_doctor, {})
    })

    let e = new Event('change')
    select_doctor.dispatchEvent(e)
  })()
</script>