/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'materialize-css/sass/components/color-variables';
 $primary-color: color("teal", "lighten-2") !default;
 $secondary-color: color("teal", "base") !default;
 @import 'materialize-css/sass/materialize';

 #flash_info {
  color: cornflowerblue; }

#flash_notice {
  color: green; }

#flash_error {
  color: red; }

.btn-floating-custom {
  position: fixed !important;
  right: 15px !important;
  bottom: 25px !important;
}

.btn-add {
  color: white;
  background: teal;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  position: fixed;
  right: 15px;
  bottom: 25px;
  z-index: 999;

  &:focus{
      color: white;
      text-decoration: none; 
  }
  &:hover{
      color: white;
      text-decoration: none;
      background: #479b47 ;
  }

  &:active {
      color: white;
      text-decoration: none;
      background: #479b47;
      box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  }
}